<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <h4 style="text-align: center;">Loading user data. Please wait...</h4>
            </div>
        </div>

    </div>
</div>
