@model VZwars.Models.UserDataModel
<div id="userPageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User character</h4>
            </div>
            <div class="modal-body">
                <div id="userTabs">
                    <ul>
                        <li><a href="#modalInfo">User info</a></li>
                        <li><a href="#modalStats">Stats</a></li>
                        <li><a href="#modalMinions">Minions</a></li>
                    </ul>
                    <!-- User info -->
                    <div class="row" id="modalInfo">
                        <h2>User info</h2>
                        <hr />
                        <p>Username: @Html.DisplayTextFor(model => model.userModel.username) </p>
                    </div>
                    <!-- Stats -->
                    <div class="row" id="modalStats">
                        <h2>Stats</h2>
                        <hr />
                        <table>
                            <tr>
                                <td>Economy</td>
                                <td><button type="button" class="btn-default">+</button></td>
                            </tr>
                            <tr>
                                <td>Military</td>
                                <td><button type="button" class="btn-default">+</button></td>
                            </tr>
                            <tr>
                                <td>Exploration</td>
                                <td><button type="button" class="btn-default">+</button></td>
                            </tr>
                            <tr>
                                <td>Logistics</td>
                                <td><button type="button" class="btn-default">+</button></td>
                            </tr>
                            <tr>
                                <td>Leadership</td>
                                <td><button type="button" class="btn-default">+</button></td>
                            </tr>
                        </table>
                    </div>
                    <!-- Minions -->
                    <div class="row" id="modalMinions">
                        <h2>Minions</h2>
                        <hr />
                        <p>Minion count total: 151</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
