@model VZwars.Models.UserDataModel
@using MinionWarsEntitiesLib.Models
@using VZwars.Models

<div>
    @{
        foreach (BattlegroupModel bm in Model.remoteBgs)
        {
            <div class="row">
                <div class="col-md-3">
                    <p>Name: @bm.battlegroup.name</p>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" onclick="displayGroupDetails(@bm.battlegroup.id)">Group details</button>
                    <button class="btn btn-default" onclick="deleteGroup(@bm.battlegroup.id)">Delete group</button>
                </div>
                <div class="col-md-3">
                    <img src="~/Content/icons/sword-spade.png" />
                </div>
            </div>
                <div class="row">
                    <hr />
                </div>
        }
    }
</div>



