@model VZwars.Models.UserDataModel
@using MinionWarsEntitiesLib.Models
@using VZwars.Models

<div id="clickModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lokacija klik</h4>
            </div>
            <div class="modal-body">
                <p id="addressClick"></p>
                <p id="locClick"></p>
                <p id="distanceClick"></p>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <button id="btnSendMinions" type="button" class="btn btn-primary">Send minions</button>
                        <hr />
                        <label for="sendList">Battlegroup: </label>
                        <select id="sendList" name="sendList">
                            @if (Model.remoteBgs.Count > 0)
                            {
                                foreach (BattlegroupModel bm in Model.remoteBgs)
                                {
                                    if (bm.battlegroup.location == null)
                                    {
                                        <option value="@bm.battlegroup.id">@bm.battlegroup.name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button id="btnBuildCamp" type="button" class="btn btn-primary">Build camp</button>
                        <input type="text" id="campName" name="campName" placeholder="Camp name" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
